{{define "title"}}Английский язык{{end}}

{{define "content"}}
<div class="intro">
        <img src="/static/english_photo.jpg" alt="Фото преподавателя">
        <p>
          Меня зовут Солнцева Мария Александровна, и я уже более 15 лет погружаю детей и студентов в увлекательный мир английского языка. Для младших школьников занятия проходят в игровой форме: через веселые игры и творческие задания дети легко усваивают новые слова и правила, а обучение превращается в настоящее приключение. С подростками и студентами я выстраиваю индивидуальные программы, которые помогают уверенно развивать все языковые навыки — от грамматики и аудирования до разговорной речи, что так необходимо для сдачи ОГЭ и ЕГЭ.
        </p>
      </div>

      <p>Моя цель — сделать изучение английского не только полезным, но и вдохновляющим, чтобы каждый ученик чувствовал радость от своих успехов и открывал новые горизонты. Считаю, что настоящий профессионал это не тот, кто может научить мотивированного, а заинтересовать и научить не замотивированного ученика.</p>

      <p>Являюсь опытным преподавателем английского языка с многолетним стажем работы в образовательных учреждениях разного уровня. Начинала свою педагогическую деятельность в школе, где успешно реализовывала программы по развитию базовых языковых навыков у учащихся младших и старших классов. Позже продолжила работу в колледже, обеспечивая подготовку студентов к профессиональному и академическому общению на английском языке.</p>

      <p>В настоящее время преподаю в ВУЗе, где уделяю особое внимание углубленному освоению языка и развитию критического мышления, необходимых для академической и профессиональной деятельности.</p>
 {{end}}
