{{define "title"}}Математика{{end}}

{{define "content"}}
  <div class="intro">
    <img src="/static/math_photo.jpg" alt="Фото преподавателя">
    <p>
      Здравствуйте, меня зовут Ирина Игоревна, я профессиональный педагог и репетитор по программе начальных классов. Преподаю курс математики по программе Моро, Петерсон, Гейдмана и др. Провожу занятия по олимпиадной и занимательной математике.
    </p>
  </div>

  <p>• Ваш ребенок ходит в начальную школу?<br>
  • Ему сложно самостоятельно выполнять ДЗ?<br>
  • Вам нужны индивидуальные занятия для повышения успеваемости по математике для 1-5 классов?<br>
  • Вам нужна подготовка к олимпиадам по математике для 1-4 классов?<br>
  • Вам нужна подготовка к поступлению в математическую школу?</p>

  <p>Помогу, объясню, повторю, закреплю, подготовлю…сэкономлю Ваше время и нервы.</p>

  <p><strong>О себе:</strong> педагогическое образование (МПГУ им. Ленина). Работала в ГБОУ Школа №1 (учителем младших классов) и педагогом-воспитателем в детском развивающем клубе.<br>
  Прошла подготовку по программе тренер ментальной арифметики.<br>
  Также получила сертификат Фоксфорда "Особенности обучения учеников начальной школы олимпиадной математике."</p>

  <p>Олимпиадные задачи — это всегда маленькое открытие. Они развивают гибкость мышления, воображение и повышают интерес к математике.</p>

  <p><strong>Математика – это интересно, и я знаю, как сделать так, чтобы и ребенку стало интересно!</strong></p>

  <p>Мой главный принцип — индивидуальный подход. Для каждого ученика составляю программу и подбираю материалы.</p>
{{end}}
